    
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-154435778-1');
    </script>


   
    <link href="libs/carousel-2/owl.carousel.css" rel="stylesheet">

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5df2121a43be710e1d21c40f/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>

<body class="">
    <div class="bravo_wrap">

        <style>
            .bravo_wrap .bravo_header {
                background: #1a2b48;
                height: 34px;
            }

            .bravo_wrap .bravo_topbar {
                padding: 15px 0;
                color: #333;
                padding-left: 10px;
            }

            .bravo_wrap .bravo_topbar .content .topbar-right {
                font-size: 12px;
                margin-left: 10px;
                padding: 20px;
            }

            .bravo_wrap .bravo_header .content .header-left .bravo-menu {
                padding-left: 90px;
                /* color: #fff; */
            }

            .bravo_wrap .bravo_header .content {
                background: #1a2b48;
                display: flex;
                align-items: center;
                height: 32px;
                font-size: 12px;
                font-weight: 300;
                text-align: center;
                margin-left: 222px;
                color: #fff;
            }

            .bravo_wrap .bravo_topbar {
                background-color: #fff;
            }

            .bravo_wrap .bravo_topbar {
                padding: 15px 0;
                color: #333;
                padding-left: 10px;
                /* margin-left: 10px; */
                height: 78px;
            }

            .bravo_wrap .bravo_topbar .content .socials {
                display: inline-block;
                /* border-right: 1px solid #374969; */
            }

            .bravo_wrap .bravo_topbar .content .topbar-items li a {
                color: #666;
                font-weight: 400;
                font-size: 12px;
                text-decoration: none;
            }

            .bravo_wrap .bravo_header .content .header-left .bravo-menu ul li a {
                padding: 35px 13px;
                display: inline-block;
                font-size: 12px;
                font-weight: 200;
                text-transform: uppercase;
                color: #fff;
                transition: all .3s;
            }

            .bravo_wrap .bravo_topbar .content .topbar-right {
                font-size: 12px;
                padding: 10px;
            }

            .bravo_wrap .bravo_header .content .header-left .bravo-menu ul li>.menu-dropdown li a {
                padding: 15px 0;
                display: block;
                font-size: 14px;
                color: #888;
            }

            .bravo_topbar .topbar-left .slogin {
                display: inline-block;
                font-weight: bolder;
                color: #d1d4da;
                font-size: 13px;
            }
        </style>

        <div class="bravo_topbar">
            <div class="container">
                <div class="content">
                    <div class="topbar-left">

                        <a href="index.html" class="bravo-logo">
                            <img src="images/Najaf Logo (1).png" alt="">
                        </a>
                        <h5 class="slogin"> Your Luxury DMC in Turkey </h5>
                    </div>

                    <div>



                    </div>
                    <div class="topbar-right">

                        <div>

                            <div class="st-list socials">
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>

                            <ul class="topbar-items">
                                <li class="hidden-xs hidden-sm"><a href="mailto:info@cvc.vacations"
                                        target="">info@to-istanbultours.com</a>
                                </li>
                            </ul>
                            <ul class="topbar-items">
                                <li class="login-item">
                                    <a href="#login" data-toggle="modal" data-target="#login" class="login">Login</a>
                                </li>
                                <li class="signup-item">
                                    <a href="#register" data-toggle="modal" data-target="#register" class="signup">Sign
                                        Up</a>
                                </li>
                            </ul>
                            <form id="logout-form-topbar" action="http://cvc.vacations/logout" method="POST"
                                style="display: none;">
                                <input type="hidden" name="_token" value="rpIsegRg9AWQquQ8f0S0UzRjdI51mdPWVAwziRyx">
                            </form>
                            </li>
                        </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bravo_header">
            <div class="container">
                <div class="content">
                    <div class="header-left">

                        <div class="bravo-menu">
                            <ul class="main-menu menu-generated">
                                <li class=""><a target="" href="index.html">Home</a></li>
                                <li class="   "><a target="" href="destinations.html">Destinations <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="children-menu menu-dropdown">
                                        <li class=" "><a target="" href="destination-details.html">Istanbul</a></li>
                                        <li class="  "><a target="" href="destination-details.html">Istanbul</a></li>
                                        <li class="  "><a target="" href="destination-details.html">Istanbul</a></li>
                                    </ul>
                                </li>
                                <li class="    "><a target="" href="tour.html">Turkey Packages</a></li>
                                <li class="  "><a target="" href="about.html">About Us</a></li>
                                <li class=""><a target="" href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right">
                        <button class="bravo-more-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bravo-menu-mobile">
                <div class="user-profile">
                    <div class="b-close"><i class="icofont-scroll-left"></i></div>
                    <div class="avatar">
                        <i class="icofont-user-alt-2"></i>
                    </div>
                    <ul class="topbar-items">
                        <li class="login-item">
                            <a href="#login" data-toggle="modal" data-target="#login" class="login">Login</a>
                        </li>
                        <li class="signup-item">
                            <a href="#register" data-toggle="modal" data-target="#register" class="signup">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <div class="g-menu">
                    <ul class="main-menu menu-generated">
                        <li class=""><a target="" href="index.html">Home</a></li>
                        <li class="   "><a target="" href="destinations.html">Destinations <i
                                    class="fa fa-angle-down"></i></a>
                            <ul class="children-menu menu-dropdown">
                                <li class=" "><a target="" href="destination-details.html">Istanbul</a></li>
                                <li class="  "><a target="" href="destination-details.html">Istanbul</a></li>
                            </ul>
                        </li>
                        <li class="    "><a target="" href="/tour">Turkey Packages</a></li>
                        <li class="  "><a target="" href="about.html">About Us</a></li>
                        <li class=""><a target="" href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-template-content">
            <div class="container">
                <div class="bravo-list-locations">
                    <div class="title">
                        Destinations
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="destination-item ">
                                    <a href="destination-details.html">
                                        <div class="image"
                                            style="background: url('images/hagia-sophia-and-blue-mosque-sunset-istanbul-ISTGUIDE0219.jpg')">
                                            <div class="effect"></div>
                                            <div class="content">
                                                <h4 class="title">Istanbul</h4>
                                                <div class="desc">8 Hotels</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="destination-item ">
                                    <a href="destination-details.html">
                                        <div class="image"
                                            style="background: url('images/Holidayme_Antalya_shutterstock_597156353.jpg')">
                                            <div class="effect"></div>
                                            <div class="content">
                                                <h4 class="title">Istanbul</h4>
                                                <div class="desc">3 Hotels</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="destination-item ">
                                    <a href="destination-details.html">
                                        <div class="image" style="background: url(images/0e.jpg)">
                                            <div class="effect"></div>
                                            <div class="content">
                                                <h4 class="title">Istanbul</h4>
                                                <div class="desc">3 Hotels</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="destination-item ">
                                    <a href="destination-details.html">
                                        <div class="image" style="background: url('images/images.jpg')">
                                            <div class="effect"></div>
                                            <div class="content">
                                                <h4 class="title">Istanbul</h4>
                                                <div class="desc">3 Hotels</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="destination-item ">
                                    <a href="destination-details.html">
                                        <div class="image" style="background: url(images/78412032.jpg)">
                                            <div class="effect"></div>
                                            <div class="content">
                                                <h4 class="title">Istanbul</h4>
                                                <div class="desc">3 Hotels</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="destination-item ">
                                    <a href="destination-details.html">
                                        <div class="image" style="background: url('images/CITY-IST-1.jpg')">
                                            <div class="effect"></div>
                                            <div class="content">
                                                <h4 class="title">Istanbul</h4>
                                                <div class="desc">3 Hotel</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container " style="padding-top: 40px;padding-bottom: 40px;">
            <div class="blog-content">



            </div>
        </div>